<!DOCTYPE html>
<html>
<head>
<meta charset="gb2312" />
<title>@Page.Title</title>
@RenderPage("~/Shared/_Head.cshtml")
</head>
<body>
@RenderPage("~/Shared/_AdminHeader.cshtml")
<div class="wrapper">
    <div class="mynav">
        @RenderPage("~/Shared/_AdminNav.cshtml")
    </div>
    <div class="myspace">
        @RenderBody()
    </div>
</div>
</body>
</html>
