<!DOCTYPE html>
<html>
<head>
<meta charset="gb2312" />
<title>@Page.Title</title>
@RenderPage("~/Shared/_Head.cshtml")
</head>
<body>
@RenderPage("~/Shared/_Header.cshtml")
<div class="wrapper">
    <div class="main">
        @RenderBody()
    </div>
    <div class="sidebar">
        @RenderPage("~/Shared/_SideBar.cshtml")
    </div>
</div>
@RenderPage("~/Shared/_Footer.cshtml")
</body>
</html>
